<div style="overflow: auto;">
    <div class="mat-elevation-z8">
        <mat-form-field align="center">
                <input placeholder="Search" matInput type="text" (keyup)="applyFilter($event.target.value)" />
        </mat-form-field>
        <table mat-table [dataSource]="listData" class="mat-elevation-z8" matSort matPaginator>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column
                <ng-container matColumnDef="Options">
                        <thead>
                  <th mat-header-cell *matHeaderCellDef> Options </th> </thead>
                  <tbody><td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon>launch</mat-icon>
                        </button>
    
                        <button mat-icon-button color="warn" (click)="onDelete(row.DeptID)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td></tbody>
                </ng-container>-->
              
               <!-- <tbody>
                    <tr *ngFor="let element of datas">
                       <td>{{ element.payload.doc.data().idd }}</td>
                       <td>{{ element.payload.doc.data().title }}</td>
                       <td><span 
                            *ngFor="let coffee of order.payload.doc.data().coffeeOrder">
                           {{ coffee }}
                          </span>
                       </td>
                    </tr>
                    </tbody>-->

                <!-- Name Column -->
                <ng-container matColumnDef="idd" >
                    <thead>
                 <th mat-sort-header *matHeaderCellDef > idd </th></thead>
                 <tbody> <td mat-cell *ngFor="let element of Datatype"> {{element.payload.doc.data().idd}} </td></tbody>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="title">
                    <thead><th mat-sort-header *matHeaderCellDef> Title </th></thead>
                    <tbody><td mat-cell *matCellDef="let element"> {{element.title}} </td></tbody>
                </ng-container>

                <ng-container matColumnDef="fee">
                    <thead><th mat-sort-header *matHeaderCellDef> fee </th></thead>
                    <tbody><td mat-cell *matCellDef="let element"> {{element.payload.doc.data().fee}} </td></tbody>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator #paginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
              
    </div>
</div>
